.DS_Store
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.moved-aside
*.swp
*~.nib
.idea/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.lock
Pods/
Carthage/
